body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
   width: 100%;
   min-height: 100vh;
   display: flex;
   background-color: #0F0F11;
   color: #ffffff;
}

.navigation-container{
    width: 20%;
    max-width: 100px;
    min-width: 70px;
    border: 1px solid #1C1C1C;
}

.navigation{
    color: white;
    margin-top: 30px;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo i{
    font-size: 30px;
}

.home-link{
    display: flex;
    justify-content: center;
    border-right: 3px solid #00ADFF;
    align-items: center;
    height: 40px;
    margin-top: 20px;
}

.home-link i{
    color: #00ADFF;
}

.hashtag{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}



.profile-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.profile{
    width: 30px;
    height: 30px;
    background-color: white;
    background-image: url(/images/profiel_sven.jpg);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    border: 1px solid #979797;
}

.main{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tweets-search-container{
    margin: 20px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #979797;
}

.tweets-search-container input{
    flex: 1;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: white;
    padding: 0 10px;
}

.tweets-search-container input:focus{
    outline: 0;
    box-shadow: none;
}

.tweets-search-container i{
    font-size: 30px;
    padding-left: 10px;
}

.tweets-list{
    margin: 20px;
}

.tweets-sidebar-container{
    flex: 1;
    display: flex;
}

.tweets-sidebar{
    width: 300px;
    height: 500px;
    margin-top: 30px;
    background-color: #ffffff;
    border: 1px solid #979797;
    border-radius: 20px;
    overflow: hidden;
}

.tweets-trending{
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 40px;
    padding-top: 20px;
    margin: 10px;
}

.tweets-trending h5{
    font-size: 12px;
    color: #848586;
    margin-top: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.tweets-trending ul{
    list-style-type: none;
    padding: 0px;
    margin: 0;
}

.tweets-trending ul li{
    border-top: 1px solid #D8D8D8;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #A5A5A6;
    cursor: pointer;
}








